.R-Menu{
    box-shadow: 5px 5px 5px #d9d9d9;
    border: 1px ridge #fff6f6;
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
    border-radius: 10px;
    margin: 0px;
    justify-content: center;
    align-items: center;
    margin: 15px;
    max-width: 400px;
}

.R-Menu-Header{
    font-size: 12px;
}

.R-Menu-Img{
    display: block;
    margin: 0 auto;
    width: 350px;
    height: auto;
    padding: 10px;
    border-radius: 20px;
}

.R-Menu-Titulo{
    color: #000;
}

.R-Menu-info{
    padding: 10px;
    color: #999;
    text-align: center;
}

.R-Menu-Descripcion{
    text-align: justify;
}

.R-Menu-Button{
    color: #fff;
    background-color: #2991ed;
    border: transparent;
    border-radius: 5px;
    padding: 8px 20px;
    margin: 8px;
}



