.R-Menu{
    background-color: #7d7d7d;
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
    color: #fff;
    border-radius: 10px;
    display: flex;
    margin: 0px;
    justify-content: center;
    align-items: center;
    margin: 15px;
    max-width: 400px;
    box-shadow: #2991ed;
}

.R-Menu-Header{
    font-size: 12px;
}

.R-Menu-Img{
    display: block;
    margin: 0 auto;
    width: 350px;
    height: auto;
    padding: 10px;
    border-radius: 20px;
}

.R-Menu-info{
    padding: 10px;
    text-align: center;
}

.R-Menu-Descripcion{
    text-align: justify;
}

.R-Menu-Button{
    color: #fff;
    background-color: #2991ed;
    border: transparent;
    border-radius: 5px;
}



